<div
  id="large-modal"
  tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full"
>
  <div class="relative p-4 w-full max-w-4xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600"
      >
        <h3>Mision</h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <p>
          Somos una institución deontológico, sin fines de lucro, que representa
          y agrupa a los ingenieros profesionales del Perú, de todas las
          especialidades, que cautela y preserva el comportamiento ético de sus
          miembros, y debe asegurar al Perú que cuenta con una profesión
          nacional que ejerce la ingeniería en un contexto de orden, respeto,
          competitividad, calidad y ética, y que está enraizada en sus valores
          sociales, culturales y políticos, como base fundamental en el proceso
          de desarrollo de la nación.
        </p>
      </div>
    </div>
  </div>
</div>
