<div class="flex flex-nowrap justify-center space-x-7 border my-10 mx-96 py-9">
  <div class="mx-10">
    <h3 class="font-bold text-xl">Objetivos</h3>
    <br>
    <p>
      El Propósito permanente del CIP es representar, promover, normar,
      controlar y defender el desarrollo de la Ingeniería Peruana y el ejercicio
      profesional de los Ingenieros. Consecuentemente con dicho propósito, el
      CIP reconoce y norma sus actividades con principios tales como :
      <br /><br />
      • Autonomía institucional, autogobierno y participación de los ingenieros en
      todos los niveles e instancias de decisión institucional, capacitación
      permanente de los ingenieros y la superación profesional, primacía de la
      persona humana y sus derechos, dignidad tolerancia e igualdad entre sus
      integrantes; la responsabilidad social y la solidaridad como valores
      esenciales. Afirmación de la paz, derecho a la vida y a la justicia social
      como valores centrales de la sociedad, y promover la gestión empresarial
      de los Ingenieros en el país. El CIP, como consecuencia de los principios
      que reconoce, no admite ninguna discriminación entre sus miembros ni
      desarrolla actividad proselitista no institucional.
      <br /><br />

      <h4 class="font-semibold">Con relación al País :</h4>
      <br />
      <ul>
        <li>• Impulsar su independencia y desarrollo tecnológico mediante el rescate, la acumulación, la modernización y divulgación de las experiencias y prácticas de la Ingeniería.
        </li>
        <li>• Interactuar permanentemente con la sociedad, mediante el cotejo y análisis de sus principales problemas, proponiendo soluciones.</li>
        <li>• Contribuir al desarrollo económico y social del Perú , propiciando políticas de aprovechamiento racional y prioritarios de los recursos y tecnologías nacionales.</li>
        <li>• Asesorar al Estado y a la sociedad civil, a los poderes públicos y a las instituciones, en asuntos de interés nacional.</li>
        <li>• Defender el patrimonio histórico y cultural de nuestro pueblo.</li>
        <li>• Defender los recursos naturales y productivos y su racional explotación.</li>
      </ul>
      <br>
      <h4 class="font-semibold">Con relación a la Ingeniería :</h4>
      <br>
      <ul>
        <li>• Promover y normar el ejercicio de la Ingeniería conforme a la moral, la ciencia, la técnica y la función social que a la profesión le corresponde.</li>
        <li>• Defender el prestigio de la Ingeniería y la dignidad de su ejercicio.</li>
        <li>• Auspiciar y promover la investigación en las diversas especialidades de la Ingeniería.</li>
        <li>• Divulgar y publicar los avances, obras y trabajos de sus autores con especial referencia a la realidad nacional.</li>
      </ul>
      <br>
      <h4 class="font-semibold">Con relación a los Ingenieros:</h4>
      <br>
      <ul>
        <li>• Cautelar los intereses generales de la profesión y los derechos de los Ingenieros en el ejercicio de la misma en todo el país.</li>
        <li>• Promover el perfeccionamiento y desarrollo profesional de sus integrantes.</li>
        <li>• Fomentar el desarrollo de una conciencia profesional y a la vinculación y solidaridad en los Ingenieros.</li>
        <li>• Velar porque el ejercicio de la Ingeniería se realice conforme a la profesión.</li>
        <li>• Defender un justo nivel de vida y adecuadas condiciones de trabajo de los ingenieros.</li>
        <li>• Propender a la seguridad y previsión social de sus miembros y familiares.</li>
        <li>• Promover el rol de los ingenieros en la actividad empresarial del país.</li>
      </ul>
      <br>
      <h4 class="font-semibold">Con relación a la Formación Profesional :</h4>
      <br>
      <ul>
        <li>• Velar y Coadyuvar al logro de una orientación y formación profesional adecuada, coordinando con los centros educativos y con las universidades.</li>
        <li>• Fortalecer las relaciones científicas, tecnológicas y culturales con instituciones afines.</li>
        <li>• Contribuir al logro de una formación gerencial y empresarial de los ingenieros.</li>
      </ul>
    </p>
  </div>
</div>
