<div class="flex flex-nowrap justify-center space-x-7 border my-10 mx-96 py-9">
  <div class="mx-10">
    <h3 class="font-bold text-xl">Reseña</h3>
    <p>
      El Colegio de Ingenieros del Perú tiene sus inicios en la Primera
      Conferencia Nacional de Ingeniería realizada en 1932 por la Sociedad de
      Ingenieros del Perú donde se hace por primera vez la propuesta, la cual no
      prosperó; sin embargo 30 años después se cristalizó ante la necesidad de
      colegiación de los ingenieros. El apoyo tenaz del ingeniero Enrique
      Martinelli, Senador de la República en ese entonces, y la Directiva de la
      Sociedad de Ingenieros el Perú hacen posible que el 8 de Junio de 1962 se
      promulgue la Ley 14086 que crea el Colegio de Ingenieros del Perú. La
      norma fue rubricada por el Presidente Manuel Prado y el Ingeniero Jorge
      Grieve, ex presidente de la Sociedad de Ingenieros del Perú en 1961.
      Siendo el primer Decano Nacional del CIP, el Ing. Aurelio Miranda, que se
      abocó a dos tareas fundamentales: el Código de Ética y la regularización
      de la situación de los Colegas que habían concluido sus estudios, al
      convenir con las Universidades Agraria de La Molina y la de Ingeniería, en
      las facilidades para obtener los Títulos de Ingenieros. El Colegio de
      Ingenieros del Perú, en su primera etapa tenía como organización básica a
      los Capítulos de las Especialidades con un centralismo fundamental y las
      Filiales Departamentales que casi no tenían autonomía. Sin embargo, en
      1986 la directiva que presidía el ingeniero Gonzalo García Núñez ante las
      diferentes modificaciones que tenía el estatuto, consideró necesario
      elaborar un nuevo estatuto acorde a la modernidad de ese entonces y
      gestionó una nueva ley para el Colegio de Ingenieros del Perú, que permita
      la descentralización y autonomía de los Consejos Departamentales. Es
      entonces que, el 20 de Enero de 1987, el Congreso aprueba la Ley Nº 24648
      derogándose la Ley N° 14086 que originalmente creó el Colegio de
      Ingenieros del Perú.
    </p>
  </div>
</div>
