<div class="flex flex-nowrap justify-center space-x-7 border my-10 mx-96 py-9">
  <div class="">
    <img src="img/vision.jpg" width="500px" />
  </div>
  <div class="w-1/3 mx-10">
    <h3 class="font-bold text-xl">Vision</h3>
    <p>
      Ser reconocida como una institución sólida, que patrocina el manejo
      eficiente del conocimiento, con la finalidad de orientar a la sociedad
      peruana en las grandes decisiones, fomentando la practica de valores y
      comportamiento ético de los ingenieros profesionales, así como elevando la
      calidad de la ingeniería, apoyando el crecimiento del país en el contexto
      de la globalización.
    </p>
  </div>
</div>
